* {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

img, video {
  vertical-align: middle;
}

input, select, textarea {
  outline: 0;
  resize: none;
}

body {
  line-height: 1;
}

#wrap {
  overflow: hidden;
}
#wrap #header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 22px 0;
  transition: all 0.5s;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
}
#wrap #header .center {
  width: 73%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wrap #header .center .gnb {
  display: flex;
}
#wrap #header .center .gnb > li {
  position: relative;
}
#wrap #header .center .gnb > li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  bottom: -17px;
  transform: translateX(-50%);
  transition: all 0.5s;
}
#wrap #header .center .gnb > li:hover::after {
  width: 60%;
}
#wrap #header .center .gnb > li > a {
  color: #fff;
  font-weight: bold;
  margin: 0 17px;
  font-size: 13px;
}
#wrap #header .center .gnb > li.on::after {
  width: 60%;
}
#wrap #header .center .login {
  display: block;
  width: 115px;
  line-height: 40px;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  font-size: 13px;
  border-radius: 3px;
  text-align: center;
  transition: all 0.5s;
  position: relative;
}
#wrap #header .center .login span {
  position: relative;
  z-index: 3;
}
#wrap #header .center .login::after {
  content: "";
  display: block;
  width: 0;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: #494949;
  border-radius: 3px;
  transition: all 0.5s;
  opacity: 0;
}
#wrap #header .center .login:hover {
  color: #fff;
}
#wrap #header .center .login:hover::after {
  width: 102%;
  opacity: 1;
}
#wrap #header .mobileBoard {
  position: absolute;
  left: 0;
  top: 103px;
  width: 100%;
  height: 0;
  display: flex;
  justify-content: center;
  transition: all 0.5s;
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
#wrap #header .mobileBoard .center {
  display: none;
  width: 78%;
  padding: 30px 15px;
  box-sizing: border-box;
}
#wrap #header .mobileBoard .center .mobileMenu li {
  position: relative;
  margin-bottom: 25px;
}
#wrap #header .mobileBoard .center .mobileMenu li a {
  color: #000;
  font-weight: bold;
}
#wrap #header .mobileBoard .center .mobileMenu li a::before {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: 0;
  bottom: -9px;
  transition: all 0.5s;
}
#wrap #header .mobileBoard .center .mobileMenu li a:hover::before {
  width: 20%;
}
#wrap #header .mobileBoard .center .mobileMenu li.on a::before {
  width: 20%;
}
#wrap #header.fixed {
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
#wrap #header.fixed .center .gnb > li::after {
  background-color: #040c2c;
}
#wrap #header.fixed .center .gnb > li > a {
  color: #040c2c;
}
#wrap #header.fixed .center .login {
  background-color: #040c2c;
  color: #fff;
}
#wrap #header.fixed .center .login::after {
  background-color: #3a3a3a;
}
#wrap #header.fixed .center .mobileBtn .bar {
  background-color: #040c2c;
}
#wrap #container .intro {
  width: 100%;
  height: 100vh;
  background-image: url(../img/profile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
#wrap #container .intro .front-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrap #container .intro .front-bg .centerBox {
  text-align: center;
  color: #fff;
}
#wrap #container .intro .front-bg .centerBox .hello {
  font-size: 19px;
  margin-bottom: 60px;
}
#wrap #container .intro .front-bg .centerBox .myName {
  font-size: 42px;
  margin-bottom: 38px;
}
#wrap #container .intro .front-bg .centerBox .job {
  font-size: 23px;
  margin-bottom: 38px;
}
#wrap #container .intro .front-bg .centerBox .sns {
  display: flex;
  justify-content: center;
}
#wrap #container .intro .front-bg .centerBox .sns li {
  margin: 0 10px;
  width: 35px;
  line-height: 35px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}
#wrap #container .intro .front-bg .centerBox .sns li a {
  color: #fff;
}
#wrap #container .intro .front-bg .centerBox .sns li:hover {
  background-color: #fff;
}
#wrap #container .intro .front-bg .centerBox .sns li:hover a {
  color: #494949;
}
#wrap #container .about_me {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wrap #container .about_me > div {
  width: 50%;
}
#wrap #container .about_me .leftBox {
  margin-left: 18%;
}
#wrap #container .about_me .leftBox .title {
  color: #040c2c;
  font-size: 26px;
  margin-bottom: 20px;
}
#wrap #container .about_me .leftBox .subtitle {
  font-size: 16px;
  color: #9999a6;
  margin-bottom: 40px;
}
#wrap #container .about_me .leftBox .text {
  font-size: 12px;
  line-height: 30px;
  color: #797979;
  margin-bottom: 55px;
}
#wrap #container .about_me .leftBox .linkBtn {
  width: 350px;
  display: flex;
  justify-content: space-between;
}
#wrap #container .about_me .leftBox .linkBtn > a {
  display: block;
  width: 163px;
  line-height: 50px;
  background-color: #3a3a3a;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  border-radius: 3px;
  text-align: center;
  transition: all 0.5s;
  position: relative;
}
#wrap #container .about_me .leftBox .linkBtn > a::after {
  display: block;
  width: 0;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: #040c2c;
  border-radius: 3px;
  transition: all 0.5s;
  opacity: 0;
  color: #fff;
}
#wrap #container .about_me .leftBox .linkBtn > a span {
  position: relative;
  z-index: 3;
}
#wrap #container .about_me .leftBox .linkBtn .hireBtn::after {
  content: "";
}
#wrap #container .about_me .leftBox .linkBtn .hireBtn:hover::after {
  width: 102%;
  opacity: 1;
}
#wrap #container .about_me .leftBox .linkBtn .downCVBtn::after {
  content: "";
}
#wrap #container .about_me .leftBox .linkBtn .downCVBtn:hover::after {
  width: 102%;
  opacity: 1;
}
#wrap #container .about_me .rightBox .about_img {
  width: 100%;
}
#wrap #container .doing {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  padding-bottom: 120px;
}
#wrap #container .doing .center {
  width: 58%;
}
#wrap #container .doing .center .textBox {
  text-align: center;
  margin-top: 120px;
}
#wrap #container .doing .center .textBox .title {
  font-size: 25px;
  color: #040c2c;
  margin-bottom: 26px;
}
#wrap #container .doing .center .textBox .text {
  font-size: 17px;
  color: #6e6e6e;
}
#wrap #container .doing .center .textBox .bar {
  width: 80px;
  height: 2px;
  background-color: #bcbcbc;
  margin: 27px auto 70px;
}
#wrap #container .doing .center .boxWrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#wrap #container .doing .center .boxWrap a {
  display: block;
  width: 31.333%;
  color: #040c2c;
  transition: all 0.5s;
  margin-bottom: 10px;
}
#wrap #container .doing .center .boxWrap a .box {
  width: 100%;
  margin: 2% 0;
  text-align: center;
  border: 1px solid #f3f1f1;
  background-color: #fff;
}
#wrap #container .doing .center .boxWrap a .box .boxIcon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #8a8a8a;
  text-align: center;
  margin: 40px auto 37px;
}
#wrap #container .doing .center .boxWrap a .box .boxIcon span {
  color: #8a8a8a;
  font-size: 30px;
  margin-top: 50%;
  transform: translateY(-50%);
}
#wrap #container .doing .center .boxWrap a .box .boxTitle {
  font-size: 19px;
  margin-bottom: 25px;
}
#wrap #container .doing .center .boxWrap a .box .boxText {
  font-size: 13px;
  line-height: 30px;
  color: #797979;
  margin-bottom: 50px;
}
#wrap #container .doing .center .boxWrap a:hover {
  box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.2);
}
#wrap #container .portfolio {
  display: flex;
  justify-content: center;
  padding-bottom: 120px;
}
#wrap #container .portfolio .center {
  width: 58%;
}
#wrap #container .portfolio .center .textBox {
  text-align: center;
  margin-top: 120px;
}
#wrap #container .portfolio .center .textBox .title {
  font-size: 25px;
  color: #040c2c;
  margin-bottom: 26px;
}
#wrap #container .portfolio .center .textBox .text {
  font-size: 17px;
  color: #6e6e6e;
}
#wrap #container .portfolio .center .textBox .bar {
  width: 80px;
  height: 2px;
  background-color: #bcbcbc;
  margin: 27px auto 70px;
}
#wrap #container .portfolio .center .isoMenu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
#wrap #container .portfolio .center .isoMenu li a {
  display: block;
  width: 78px;
  line-height: 40px;
  border: 1px solid #ededed;
  text-align: center;
  font-size: 11px;
  color: #000;
  margin: 0 12px;
  box-sizing: border-box;
  transition: all 0.3s;
}
#wrap #container .portfolio .center .isoMenu li:hover a {
  background-color: #040c2c;
  color: #fff;
}
#wrap #container .portfolio .center .isoMenu li.click a {
  background-color: #040c2c;
  color: #fff;
}
#wrap #container .portfolio .center .isoWrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#wrap #container .portfolio .center .isoWrap .small, #wrap #container .portfolio .center .isoWrap .big {
  margin: 1%;
}
#wrap #container .portfolio .center .isoWrap .small {
  width: 23%;
}
#wrap #container .portfolio .center .isoWrap .big {
  width: 48%;
}
#wrap #container .portfolio .center .isoWrap img {
  width: 100%;
}
#wrap #container .portfolio .center .isoWrap .portBox {
  position: relative;
}
#wrap #container .portfolio .center .isoWrap .portBox .wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 93%;
  height: 93%;
  opacity: 0;
  transition: all 0.5s;
}
#wrap #container .portfolio .center .isoWrap .portBox .wrap .bg {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
#wrap #container .portfolio .center .isoWrap .portBox .wrap .box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#wrap #container .portfolio .center .isoWrap .portBox .wrap .box p {
  font-size: 10px;
  color: #494949;
  font-weight: bold;
  margin-bottom: 5px;
}
#wrap #container .portfolio .center .isoWrap .portBox .wrap .box .icon i {
  border: 1px solid #000;
  padding: 7px;
  border-radius: 50%;
  color: #fff;
  background-color: #000;
  font-size: 10px;
  transition: all 0.5s;
}
#wrap #container .portfolio .center .isoWrap .portBox .wrap .box .icon i:hover {
  background-color: #fff;
  color: #000;
}
#wrap #container .portfolio .center .isoWrap .portBox:hover .wrap {
  opacity: 1;
}
#wrap #container .counting {
  background-color: #fafafa;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrap #container .counting .countWrap {
  display: flex;
  justify-content: center;
}
#wrap #container .counting .countWrap .countBox {
  text-align: center;
  margin: 0 80px;
}
#wrap #container .counting .countWrap .countBox .countIcon {
  margin-bottom: 25px;
}
#wrap #container .counting .countWrap .countBox .countIcon span {
  font-size: 40px;
  color: #797979;
}
#wrap #container .counting .countWrap .countBox .countNumber {
  font-size: 25px;
  color: #040c2c;
  margin-bottom: 24px;
}
#wrap #container .counting .countWrap .countBox .text {
  font-size: 17px;
  color: #797979;
}
#wrap #container .slider {
  width: 100%;
  height: 540px;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#wrap #container .slider .center {
  width: 29%;
  overflow: hidden;
}
#wrap #container .slider .center .view {
  width: 300%;
  display: flex;
  transition: all 0.5s;
}
#wrap #container .slider .center .view .sliderBox {
  text-align: center;
  color: #fff;
}
#wrap #container .slider .center .view .sliderBox img {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-bottom: 25px;
}
#wrap #container .slider .center .view .sliderBox .name {
  font-size: 15px;
  margin-bottom: 17px;
  font-weight: bold;
}
#wrap #container .slider .center .view .sliderBox .text1 {
  font-size: 10px;
  color: #afb0b0;
  margin-bottom: 34px;
}
#wrap #container .slider .center .view .sliderBox .text2 {
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 55px;
}
#wrap #container .slider .sliderBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}
#wrap #container .slider .sliderBtn li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: #9c9d9f;
  cursor: pointer;
}
#wrap #container .slider .sliderBtn li.on {
  width: 12px;
  height: 12px;
  background-color: #fff;
}
#wrap #container .trust {
  padding-bottom: 120px;
}
#wrap #container .trust .textBox {
  text-align: center;
  margin-top: 120px;
}
#wrap #container .trust .textBox .title {
  font-size: 25px;
  color: #040c2c;
  margin-bottom: 26px;
}
#wrap #container .trust .textBox .text {
  font-size: 17px;
  color: #6e6e6e;
}
#wrap #container .trust .textBox .bar {
  width: 80px;
  height: 2px;
  background-color: #bcbcbc;
  margin: 27px auto 70px;
}
#wrap #container .trust .imgWrap {
  display: flex;
  justify-content: center;
}
#wrap #container .trust .imgWrap img {
  width: 7%;
  margin: 0 30px;
}
#wrap #container .blog {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  padding-bottom: 120px;
}
#wrap #container .blog .center {
  width: 58%;
}
#wrap #container .blog .center .textBox {
  text-align: center;
  margin-top: 120px;
}
#wrap #container .blog .center .textBox .title {
  font-size: 25px;
  color: #040c2c;
  margin-bottom: 26px;
}
#wrap #container .blog .center .textBox .text {
  font-size: 17px;
  color: #6e6e6e;
}
#wrap #container .blog .center .textBox .bar {
  width: 80px;
  height: 2px;
  background-color: #bcbcbc;
  margin: 27px auto 70px;
}
#wrap #container .blog .center .blogWrap {
  display: flex;
  justify-content: space-between;
}
#wrap #container .blog .center .blogWrap .blogBox {
  width: 31.333%;
  border: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  transition: all 0.5s;
}
#wrap #container .blog .center .blogWrap .blogBox .blogImg {
  position: relative;
}
#wrap #container .blog .center .blogWrap .blogBox .blogImg img {
  width: 100%;
}
#wrap #container .blog .center .blogWrap .blogBox .blogImg .dateBox {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: #fff;
  width: 55px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #494949;
  transition: all 0.5s;
}
#wrap #container .blog .center .blogWrap .blogBox:hover {
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}
#wrap #container .blog .center .blogWrap .blogBox:hover .blogImg .dateBox {
  background-color: #040c2c;
  color: #fff;
}
#wrap #container .blog .center .blogWrap .blogBox .botText {
  padding: 30px 25px 35px;
}
#wrap #container .blog .center .blogWrap .blogBox .botText .iconName span {
  color: #797979;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 24px;
}
#wrap #container .blog .center .blogWrap .blogBox .botText .iconName span:nth-child(1) {
  position: relative;
  top: 2px;
}
#wrap #container .blog .center .blogWrap .blogBox .botText .iconName .author {
  font-size: 13px;
  color: #494949;
}
#wrap #container .blog .center .blogWrap .blogBox .botText .title {
  font-size: 16px;
  font-weight: bold;
  color: #494949;
  margin-bottom: 32px;
}
#wrap #container .blog .center .blogWrap .blogBox .botText .blogText {
  font-size: 12px;
  line-height: 33px;
  color: #797979;
  margin-bottom: 35px;
}
#wrap #container .blog .center .blogWrap .blogBox .botText .more {
  color: #797979;
  font-weight: bold;
  transition: all 0.5s;
}
#wrap #container .blog .center .blogWrap .blogBox .botText .more:hover {
  color: #040c2c;
}
#wrap #container #map {
  width: 100%;
  height: 500px;
  background-color: #797979;
}
#wrap #container .contact {
  display: flex;
  justify-content: center;
  height: 685px;
  align-items: center;
}
#wrap #container .contact .center {
  width: 58%;
  display: flex;
  justify-content: space-between;
}
#wrap #container .contact .center > div h2 {
  font-size: 25px;
  color: #040c2c;
  margin-bottom: 48px;
}
#wrap #container .contact .center .info {
  width: 43%;
}
#wrap #container .contact .center .info p {
  position: relative;
  padding-left: 25px;
  font-size: 12px;
  line-height: 29px;
  color: #797979;
}
#wrap #container .contact .center .info p span {
  position: absolute;
  left: -1px;
  top: 4px;
  font-size: 21px;
}
#wrap #container .contact .center .form {
  width: 57%;
}
#wrap #container .contact .center .form form input, #wrap #container .contact .center .form form textarea {
  width: 300px;
  height: 40px;
  margin-bottom: 30px;
  margin: 0 10px 30px 0;
  border: 1px solid #ededed;
  padding-left: 20px;
  box-sizing: border-box;
}
#wrap #container .contact .center .form form textarea {
  padding-top: 20px;
  width: 617px;
  height: 140px;
}
#wrap #container .contact .center .form form button {
  width: 197px;
  line-height: 52px;
  border: none;
  background-color: #494949;
  color: #fff;
  font-size: 16px;
  position: relative;
}
#wrap #container .contact .center .form form button::before {
  content: "Send Message";
  display: block;
  width: 0;
  height: 52px;
  background-color: #040c2c;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.5s;
}
#wrap #container .contact .center .form form button:hover::before {
  width: 200px;
  opacity: 1;
}
#wrap #footer {
  display: flex;
  justify-content: center;
  height: 310px;
  background-color: #040c2c;
  align-items: center;
}
#wrap #footer .center img {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}
#wrap #footer .f-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
#wrap #footer .f-menu li {
  margin: 0 6px;
  border: 1px solid #fff;
  width: 35px;
  line-height: 35px;
  border-radius: 50%;
}
#wrap #footer .f-menu li a {
  color: #fff;
  margin-left: 32%;
}
#wrap #footer .f-text {
  text-align: center;
}
#wrap #footer .f-text .made {
  font-size: 11px;
  margin-bottom: 17px;
  font-style: italic;
  color: #999487;
}
#wrap #footer .f-text .made span {
  color: #fff;
}
#wrap #footer .f-text .copy {
  color: #fff;
  font-size: 13px;
}

@media screen and (max-width: 1200px) {
  #wrap #header .center {
    width: 78%;
  }
  #wrap #container .doing .center {
    width: 78%;
  }
  #wrap #container .portfolio .center {
    width: 78%;
  }
  #wrap #container .slider .center {
    width: 58%;
  }
  #wrap #container .blog .center {
    width: 78%;
  }
  #wrap #container .contact .center {
    width: 78%;
  }
  #wrap #container .contact .center .form form {
    display: flex;
    flex-wrap: wrap;
  }
  #wrap #container .contact .center .form form input {
    width: 48%;
  }
  #wrap #container .contact .center .form form textarea {
    width: 98%;
  }
}
@media screen and (max-width: 990px) {
  #wrap #header .center {
    position: relative;
  }
  #wrap #header .center .gnb {
    display: none;
  }
  #wrap #header .center .login {
    margin-right: 50px;
  }
  #wrap #header .center .mobileBtn {
    position: absolute;
    right: 0;
    width: 30px;
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  #wrap #header .center .mobileBtn .bar {
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.5s;
  }
  #wrap #header .center .mobileBtn.close .bar:nth-child(2) {
    opacity: 0;
  }
  #wrap #header .center .mobileBtn.close .bar:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 7px;
  }
  #wrap #header .center .mobileBtn.close .bar:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -7px;
  }
  #wrap #header .mobileBoard.show {
    height: 347px;
  }
  #wrap #header .mobileBoard.show .center {
    display: block;
  }
  #wrap #container .doing .center {
    width: 70%;
  }
  #wrap #container .doing .center .boxWrap a {
    width: 48%;
  }
  #wrap #container .trust {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
  }
  #wrap #container .trust .imgWrap {
    width: 200%;
    justify-content: flex-start;
  }
  #wrap #container .trust .imgWrap img {
    width: 9%;
    margin: 0 2%;
  }
}
@media screen and (max-width: 768px) {
  #wrap #header .center {
    width: 100%;
    padding: 0 15px;
  }
  #wrap #header .center .mobileBtn {
    right: 15px;
  }
  #wrap #header .mobileBoard.show {
    justify-content: flex-start;
    padding-left: 2%;
    height: 230px;
    overflow-y: scroll;
  }
  #wrap #container .about_me {
    display: block;
  }
  #wrap #container .about_me > div {
    width: 100%;
  }
  #wrap #container .about_me .leftBox {
    margin: 90px 0 50px 15px;
  }
  #wrap #container .doing .center {
    width: 100%;
  }
  #wrap #container .doing .center .boxWrap {
    justify-content: space-around;
  }
  #wrap #container .doing .center .boxWrap .box {
    width: 47%;
  }
  #wrap #container .portfolio .center {
    width: 100%;
  }
  #wrap #container .portfolio .center .isoWrap .small, #wrap #container .portfolio .center .isoWrap .big {
    width: 47%;
  }
  #wrap #container .portfolio .center .isoWrap .portBox .wrap .box p {
    font-size: 20px;
    margin-bottom: 5px;
    line-height: 35px;
  }
  #wrap #container .portfolio .center .isoWrap .portBox .wrap .box .icon i {
    font-size: 17px;
    margin: 0 1px;
  }
  #wrap #container .counting {
    height: 545px;
  }
  #wrap #container .counting .countWrap {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #wrap #container .counting .countWrap .countBox {
    width: 38%;
    margin: 5% 0;
  }
  #wrap #container .slider {
    height: 570px;
  }
  #wrap #container .slider .center {
    width: 68%;
  }
  #wrap #container .slider .sliderBtn {
    bottom: 100px;
  }
  #wrap #container .trust {
    width: 100%;
  }
  #wrap #container .trust .imgWrap img {
    width: 12%;
    margin: 0 2%;
  }
  #wrap #container .blog .center {
    width: 100%;
  }
  #wrap #container .blog .center .blogWrap {
    flex-wrap: wrap;
    justify-content: center;
  }
  #wrap #container .blog .center .blogWrap .blogBox {
    width: 96%;
    margin-bottom: 50px;
  }
  #wrap #container .contact .center {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  #wrap #container .contact .center .info {
    width: 96%;
    margin-top: 250px;
    margin-bottom: 65px;
  }
  #wrap #container .contact .center .form {
    width: 96%;
  }
}
@media screen and (max-width: 580px) {
  #wrap #container .trust .imgWrap img {
    width: 13%;
    margin: 0 2%;
  }
  #wrap #container .contact .center .form #user_form input {
    width: 100%;
  }
}