#wrap {
    // 상단영역
    #header {
        width: 100%;
        display: flex; justify-content: center;
        padding: 22px 0; transition: all 0.5s;
        position: fixed; left: 0; top: 0; z-index: 99;
        .center {
            width: 73%; //1410px
            display: flex; justify-content: space-between;
            align-items: center;
            // .logo {}
            .gnb {
                display: flex;
                > li {
                    position: relative;
                    &::after {
                        content: ""; display: block;
                        width: 0; height: 2px; background-color: #fff;
                        position: absolute; left: 50%; bottom: -17px;
                        transform: translateX(-50%); transition: all 0.5s;
                    }
                    &:hover {
                        &::after {width: 60%;}
                    }
                    > a {
                        color: #fff; font-weight: bold;
                        margin: 0 17px; font-size: 13px;
                        
                    }
                }
            }
            .login { 
                display: block; width: 115px; line-height: 40px;
                background-color: #fff; color: #000;
                font-weight: bold; font-size: 13px;
                border-radius: 3px; text-align: center;
                transition: all 0.5s;
                position: relative;
                &::after {
                    content: "LOGIN"; display: block;
                    width: 0;
                    height: 40px;
                    position: absolute;
                    left: 50%; top: 0;
                    transform: translateX(-50%);
                    background-color: #494949;
                    border-radius: 3px;
                    transition: all 0.5s;
                    opacity: 0;
                    color: #fff;
                    
                }
                &:hover {
                    &::after {
                        width: 102%;
                        opacity: 1;
                        // width: 119px;
                    }
                }
            }

        }
    }
    #header.fixed {
        background-color: #fff;
        .center {
            // js에서 로고 변경
            .gnb {
                > li {
                    &::after {color: #040c2c;}
                    > a {color: #040c2c;}
                }
            }
            .login {
                background-color: #040c2c;
                color: #fff;
                &::after {
                    background-color: #3a3a3a;
                }
            }
        }
    }
    // 중간영역
    #container {
        // 첫번째 구역
        .intro {
            width: 100%; height: 100vh;
            background-image: url(../img/profile.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center top;
            .front-bg {
                width: 100%; height: 100%;
                background-color: rgba(0,0,0,0.5);
                display: flex; justify-content: center;
                align-items: center;
                .centerBox {
                    text-align: center; color: #fff;
                    .hello {font-size: 19px; margin-bottom: 60px;}
                    .myName {font-size: 42px; margin-bottom: 38px;}
                    .job {font-size: 23px; margin-bottom: 38px;}
                    .sns {
                        display: flex; justify-content: center;
                        li {
                            margin: 0 10px;
                            width: 35px; line-height: 35px;
                            border-radius: 50%;
                            background-color: rgba(0,0,0,0.2);
                            transition: all 0.5s;
                            a {color: #fff;}
                            &:hover {
                                background-color: #fff;
                                a {color: #494949;}
                            }
                        }
                    }
                }
            }
        }
        // 두번째 구역
        .about_me {
            display: flex; justify-content: space-between;
            align-items: center;
            > div {width: 50%;}
            .leftBox {
                margin-left: 18%;//405px;
                .title {
                    color: #040c2c; font-size: 26px;
                    margin-bottom: 20px;
                }
                .subtitle {
                    font-size: 16px; color: #9999a6;
                    margin-bottom: 40px;
                }
                .text {
                    font-size: 12px; line-height: 30px;
                    color: #797979; margin-bottom: 55px;
                }
                .linkBtn {
                    width: 350px; display: flex; justify-content: space-between;
                    > a {
                        display: block; width: 163px; line-height: 50px;
                        background-color: #3a3a3a; color: #fff;
                        font-weight: bold; font-size: 15px;
                        border-radius: 3px; text-align: center;
                        transition: all 0.5s;
                        position: relative;
                        &::after {
                            display: block; width: 0;
                            height: 50px; position: absolute;
                            left: 50%; top: 0; transform: translateX(-50%);
                            background-color: #040c2c; border-radius: 3px;
                            transition: all 0.5s; opacity: 0;
                            color: #fff;
                        }
                    }
                    .hireBtn {
                        &::after {content: "Hire Me";}
                        &:hover {
                            &::after {
                                width: 102%;
                                opacity: 1;
                            }
                        }
                    }
                    .downCVBtn {
                        &::after {content: "Download CV";}
                        &:hover {
                            &::after {
                                width: 102%;
                                opacity: 1;
                            }
                        }
                    }
                    
                }
            }
        }
        // 세번째 구역
        .doing {
            background-color: #fafafa;
            display: flex; justify-content: center;
            padding-bottom: 120px;
            .center {
                width: 58%; //1110px
                .textBox {
                    text-align: center; margin-top: 120px;
                    .title {font-size: 25px; color: #040c2c; margin-bottom: 26px;}
                    .text {font-size: 17px; color: #6e6e6e}
                    .bar {
                        width: 80px; height: 2px; background-color: #bcbcbc;
                        margin: 27px auto 70px;
                    }
                }
                .boxWrap {
                    width: 100%; display: flex;
                    justify-content: space-between; flex-wrap: wrap;
                    .box {
                        width: 31.333%; margin: 2% 0;
                        text-align: center;
                        border: 1px solid #f3f1f1;
                        background-color: #fff;
                        .boxIcon {
                            width: 80px; height: 80px;
                            border-radius: 50%;
                            border: 1px solid #8a8a8a;
                            text-align: center;
                            margin: 40px auto 37px;
                            span {
                                color: #8a8a8a; font-size: 30px;
                                margin-top: 50%; transform: translateY(-50%);
                            }
                        }
                        .boxTitle {font-size: 15px; margin-bottom: 25px;}
                        .boxText {
                            font-size: 13px; line-height: 30px;
                            color: #797979; margin-bottom: 50px;
                        }
                    }
                }
            }
        }
        // 네번째 구역
        .portfolio {
            display: flex; justify-content: center;
            padding-bottom: 120px;
            .center {
                width: 58%; //1110px
                .textBox {
                    text-align: center; margin-top: 120px;
                    .title {font-size: 25px; color: #040c2c; margin-bottom: 26px;}
                    .text {font-size: 17px; color: #6e6e6e}
                    .bar {
                        width: 80px; height: 2px; background-color: #bcbcbc;
                        margin: 27px auto 70px;
                    }
                }
                .isoMenu {
                    display: flex; justify-content: center;
                    margin-bottom: 50px;
                    li {
                        a {
                            display: block; width: 78px; line-height: 40px;
                            border: 1px solid #ededed; text-align: center;
                            font-size: 11px; color: #000; margin: 0 12px;
                            box-sizing: border-box;
                        }
                    }
                    li.click {
                        a {background-color: #040c2c; color: #fff;}
                    }
                }
                .isoWrap {
                    display: flex; justify-content: space-between;
                    flex-wrap: wrap;
                    .small,.big { margin: 1%;}
                    .small {width: 23%;}
                    .big {width: 48%;}
                    img {width: 100%;}
                }
            }
        }
        // 다섯번째 구역
        .counting {
            background-color: #fafafa; height: 340px;
            display: flex; justify-content: center;
            align-items: center;
            .countWrap {
                display: flex; justify-content: center;
                .countBox {
                    text-align: center; margin: 0 80px;
                    .countIcon {
                        margin-bottom: 25px;
                        span {font-size: 40px; color: #797979;}
                    }
                    .countNumber {font-size: 25px; color: #040c2c; margin-bottom: 24px;}
                    .text {font-size: 17px; color: #797979;}
                }
            }
        }
        // 여섯번째 구역
        .slider {
            width: 100%; height: 540px;
            background-image: url(../img/bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            display: flex; justify-content: center;
            align-items: center;
            position: relative;
            .center {
                width: 29%; overflow: hidden;
                .view {
                    width: 300%; display: flex;
                    transition: all 0.5s;
                    .sliderBox {
                        text-align: center; color: #fff;
                        img {
                            width: 80px; height: 80px;
                            border-radius: 50%;
                            border: 1px solid #fff;
                            margin-bottom: 25px;
                        }
                        .name {
                            font-size: 15px; margin-bottom: 17px;
                            font-weight: bold;
                        }
                        .text1 {
                            font-size: 10px; color: #afb0b0;
                            margin-bottom: 34px;
                        }
                        .text2 {
                            font-size: 15px; line-height: 30px;
                            margin-bottom: 55px;
                        }
                    }
                }
            }
            .sliderBtn {
                display: flex; justify-content: center;
                position: absolute; left: 50%; bottom: 30px;
                transform: translateX(-50%);
                li {
                    width: 10px; height: 10px;
                    border-radius: 50%; margin: 0 5px;
                    background-color: #9c9d9f;
                    cursor: pointer;
                }
                li.on {
                    width: 12px; height: 12px;
                    background-color: #fff;
                }
            }
        }
        // 일곱번째 구역
        .trust {
            padding-bottom: 120px;
            .textBox {
                text-align: center; margin-top: 120px;
                .title {font-size: 25px; color: #040c2c; margin-bottom: 26px;}
                .text {font-size: 17px; color: #6e6e6e}
                .bar {
                    width: 80px; height: 2px; background-color: #bcbcbc;
                    margin: 27px auto 70px;
                }
            }
            .imgWrap {
                display: flex; justify-content: center;
                img {width: 7%; margin: 0 30px;}
            }    
        }
        // 여덟번째 구역
        .blog {
            display: flex; justify-content: center;
            background-color: #fafafa;
            padding-bottom: 120px;
            .center {
                width: 58%; //1110px
                .textBox {
                    text-align: center; margin-top: 120px;
                    .title {font-size: 25px; color: #040c2c; margin-bottom: 26px;}
                    .text {font-size: 17px; color: #6e6e6e}
                    .bar {
                        width: 80px; height: 2px; background-color: #bcbcbc;
                        margin: 27px auto 70px;
                    }
                }
                .blogWrap {
                    display: flex; justify-content: space-between;
                    .blogBox {
                        width: 31.333%;
                        border: 1px solid #ebebeb;
                        border-radius: 5px 5px 0 0; overflow: hidden;
                        .blogImg {
                            position: relative;
                            img {width: 100%;}
                            .dateBox {
                                position: absolute; right: 15px; top: 15px;
                                background-color: #fff; width: 55px;
                                height: 60px; text-align: center;
                                padding-top: 10px; box-sizing: border-box;
                                border-radius: 5px; font-size: 14px; line-height: 21px;
                                font-weight: bold; color: #494949;
                                transition: all 0.5s;
                            }
                            &:hover {
                                .dateBox {
                                    background-color: #040c2c;
                                    color: #fff;
                                }
                            }
                        }
                        .botText {
                            padding: 30px 25px 35px;
                            .iconName {
                                span {
                                    color: #797979; font-size: 13px; font-weight: bold;
                                    margin-bottom: 24px;
                                    &:nth-child(1) {
                                        position: relative; top: 2px;
                                    }
                                }
                                .author {
                                    font-size: 13px; color: #494949;
                                }
                            }
                            .title {
                                font-size: 16px; font-weight: bold;
                                color: #494949; margin-bottom: 32px;
                            }
                            .blogText {
                                font-size: 12px; line-height: 33px;
                                color: #797979; margin-bottom: 35px;
                            }
                            .more {
                                color: #797979; font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
        // 아홉번째 영역
        #map {width: 100%; height: 500px; background-color: #797979;}
    }
}