#wrap {
    // 상단영역
    #header {
        width: 100%;
        display: flex; justify-content: center;
        padding-top: 22px;
        position: fixed; left: 0; top: 0;
        .center {
            width: 73%; //1410px
            display: flex; justify-content: space-between;
            align-items: center;
            // .logo {}
            .gnb {
                display: flex;
                > li {
                    position: relative;
                    &::after {
                        content: ""; display: block;
                        width: 0; height: 2px; background-color: #fff;
                        position: absolute; left: 50%; bottom: -17px;
                        transform: translateX(-50%); transition: all 0.5s;
                    }
                    &:hover {
                        &::after {width: 60%;}
                    }
                    > a {
                        color: #fff; font-weight: bold;
                        margin: 0 17px; font-size: 13px;
                        
                    }
                }
            }
            .login { 
                display: block; width: 115px; line-height: 40px;
                background-color: #fff; color: #000;
                font-weight: bold; font-size: 13px;
                border-radius: 3px; text-align: center;
                transition: all 0.5s;
                position: relative;
                &::after {
                    content: ""; display: block;
                    width: 0;
                    height: 40px;
                    position: absolute;
                    left: 49%; top: 0;
                    transform: translateX(-50%);
                    background-color: #494949;
                    border-radius: 3px;
                    transition: all 0.5s;
                    
                }
                &:hover {
                    &::after {
                        width: 115px;
                    }
                }
            }

        }
    }
}