#wrap {
    overflow: hidden;
    // 상단영역
    #header {
        width: 100%;
        display: flex; justify-content: center;
        padding: 22px 0; transition: all 0.5s;
        position: fixed; left: 0; top: 0; z-index: 99;
        .center {
            width: 73%; //1410px
            display: flex; justify-content: space-between;
            align-items: center;
            .gnb {
                display: flex;
                > li {
                    position: relative;
                    &::after {
                        content: ""; display: block;
                        width: 0; height: 2px; background-color: #fff;
                        position: absolute; left: 50%; bottom: -17px;
                        transform: translateX(-50%); transition: all 0.5s;
                    }
                    &:hover {
                        &::after {width: 60%;}
                    }
                    > a {
                        color: #fff; font-weight: bold;
                        margin: 0 17px; font-size: 13px;
                        
                    }
                }
                > li.on {
                    &::after {width: 60%;}
                }
            }
            .login { 
                display: block; width: 115px; line-height: 40px;
                background-color: #fff; color: #000;
                font-weight: bold; font-size: 13px;
                border-radius: 3px; text-align: center;
                transition: all 0.5s;
                position: relative;
                span {
                    position: relative;
                    z-index:3;
                }
                &::after {
                    content: ""; display: block;
                    width: 0;
                    height: 40px;
                    position: absolute;
                    left: 50%; top: 0;
                    transform: translateX(-50%);
                    background-color: #494949;
                    border-radius: 3px;
                    transition: all 0.5s;
                    opacity: 0;
                }
                &:hover {
                    color:#fff;

                    &::after {
                        width: 102%;
                        opacity: 1;
                        // width: 119px;
                    }
                }
            }
        }
        .mobileBoard {
            position: absolute; left: 0; top: 103px;
            width: 100%; height: 0;
            display: flex; justify-content: center;
            transition: all 0.5s;
            background-color: #fff;
            box-shadow: 0 5px 5px rgba(0,0,0,0.2);
            .center {
                display: none;
                width: 78%; padding: 30px 15px;
                box-sizing: border-box;
                .mobileMenu {
                    li {
                        position: relative;
                        margin-bottom: 25px;
                        a {
                            color: #000; font-weight: bold;
                            &::before {
                                content: ""; display: block;
                                width: 0; height: 2px; background-color: #000;
                                position: absolute; left: 0; bottom: -9px;
                                transition: all 0.5s;
                            }
                            &:hover {
                                &::before {width: 20%;}
                            }
                        }
                    }
                    li.on {
                        a {
                            &::before {width: 20%;}
                        }
                    }
                }
            }
        }
    }
    #header.fixed {
        background-color: #fff;
        box-shadow: 0 3px 5px rgba(0,0,0,0.1);
        .center {
            // js에서 로고 변경
            .gnb {
                > li {
                    &::after {background-color: #040c2c;}
                    > a {color: #040c2c;}
                }
            }
            .login {
                background-color: #040c2c;
                color: #fff;
                &::after {
                    background-color: #3a3a3a;
                }
            }
            .mobileBtn {
                .bar {background-color: #040c2c;}
            }
        }
    }
    // 중간영역
    #container {
        // 첫번째 구역
        .intro {
            width: 100%; height: 100vh;
            background-image: url(../img/profile.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center top;
            .front-bg {
                width: 100%; height: 100%;
                background-color: rgba(0,0,0,0.5);
                display: flex; justify-content: center;
                align-items: center;
                .centerBox {
                    text-align: center; color: #fff;
                    .hello {font-size: 19px; margin-bottom: 60px;}
                    .myName {font-size: 42px; margin-bottom: 38px;}
                    .job {font-size: 23px; margin-bottom: 38px;}
                    .sns {
                        display: flex; justify-content: center;
                        li {
                            margin: 0 10px;
                            width: 35px; line-height: 35px;
                            border-radius: 50%;
                            background-color: rgba(0,0,0,0.2);
                            transition: all 0.5s;
                            a {color: #fff;}
                            &:hover {
                                background-color: #fff;
                                a {color: #494949;}
                            }
                        }
                    }
                }
            }
        }
        // 두번째 구역
        .about_me {
            display: flex; justify-content: space-between;
            align-items: center;
            > div {width: 50%;}
            .leftBox {
                margin-left: 18%;//405px;
                .title {
                    color: #040c2c; font-size: 26px;
                    margin-bottom: 20px;
                }
                .subtitle {
                    font-size: 16px; color: #9999a6;
                    margin-bottom: 40px;
                }
                .text {
                    font-size: 12px; line-height: 30px;
                    color: #797979; margin-bottom: 55px;
                }
                .linkBtn {
                    width: 350px; display: flex; justify-content: space-between;
                    > a {
                        display: block; width: 163px; line-height: 50px;
                        background-color: #3a3a3a; color: #fff;
                        font-weight: bold; font-size: 15px;
                        border-radius: 3px; text-align: center;
                        transition: all 0.5s;
                        position: relative;
                        &::after {
                            display: block; width: 0;
                            height: 50px; position: absolute;
                            left: 50%; top: 0; transform: translateX(-50%);
                            background-color: #040c2c; border-radius: 3px;
                            transition: all 0.5s; opacity: 0;
                            color: #fff;
                        }
                        span { 
                            position:relative; z-index:3;
                        }
                    }
                    .hireBtn {
                        &::after {content: "";}
                        &:hover {
                            &::after {
                                width: 102%;
                                opacity: 1;
                            }
                        }
                    }
                    .downCVBtn {
                        &::after {content: "";}
                        &:hover {
                            &::after {
                                width: 102%;
                                opacity: 1;
                            }
                        }
                    }
                    
                }
            }
            .rightBox {
                .about_img {width: 100%;}
            }
        }
        // 세번째 구역
        .doing {
            background-color: #fafafa;
            display: flex; justify-content: center;
            padding-bottom: 120px;
            .center {
                width: 58%; //1110px
                .textBox {
                    text-align: center; margin-top: 120px;
                    .title {font-size: 25px; color: #040c2c; margin-bottom: 26px;}
                    .text {font-size: 17px; color: #6e6e6e}
                    .bar {
                        width: 80px; height: 2px; background-color: #bcbcbc;
                        margin: 27px auto 70px;
                    }
                }
                .boxWrap {
                    width: 100%; display: flex;
                    justify-content: space-between; flex-wrap: wrap;
                    a {
                        display: block; width: 31.333%;
                        color: #040c2c; transition: all 0.5s;
                        margin-bottom: 15px;
                        .box {
                            width: 100%;
                            text-align: center;
                            border: 1px solid #f3f1f1;
                            background-color: #fff;
                            .boxIcon {
                                width: 80px; height: 80px;
                                border-radius: 50%;
                                border: 1px solid #8a8a8a;
                                text-align: center;
                                margin: 40px auto 37px;
                                span {
                                    color: #8a8a8a; font-size: 30px;
                                    margin-top: 50%; transform: translateY(-50%);
                                }
                            }
                            .boxTitle {font-size: 19px; margin-bottom: 25px;}
                            .boxText {
                                font-size: 13px; line-height: 30px;
                                color: #797979; margin-bottom: 50px;
                            }
                        }
                        &:hover {
                            box-shadow: 5px 5px 3px rgba(0,0,0,0.2);
                        }
                    }
                }
            }
        }
        // 네번째 구역
        .portfolio {
            display: flex; justify-content: center;
            padding-bottom: 120px;
            .center {
                width: 58%; //1110px
                .textBox {
                    text-align: center; margin-top: 120px;
                    .title {font-size: 25px; color: #040c2c; margin-bottom: 26px;}
                    .text {font-size: 17px; color: #6e6e6e}
                    .bar {
                        width: 80px; height: 2px; background-color: #bcbcbc;
                        margin: 27px auto 70px;
                    }
                }
                .isoMenu {
                    display: flex; justify-content: center;
                    margin-bottom: 50px;
                    li {
                        a {
                            display: block; width: 78px; line-height: 40px;
                            border: 1px solid #ededed; text-align: center;
                            font-size: 11px; color: #000; margin: 0 12px;
                            box-sizing: border-box; transition: all 0.3s;
                        }
                        &:hover {
                            a {background-color: #040c2c; color: #fff;}
                        }
                    }
                    li.click {
                        a {background-color: #040c2c; color: #fff;}
                    }
                }
                .isoWrap {
                    display: flex; justify-content: space-between;
                    flex-wrap: wrap;
                    .small,.big { margin: 1%;}
                    .small {width: 23%;}
                    .big {width: 48%;}
                    img {width: 100%;}
                    .portBox {
                        position: relative;
                        .wrap {
                            position: absolute; left: 50%; top: 50%;
                            transform: translate(-50%,-50%);
                            width: 93%; height: 93%; opacity: 0;
                            transition: all 0.5s;
                            .bg {
                                width: 100%; height: 100%;
                                background-color: rgba(255,255,255,0.5);
                            }
                            .box {
                                position: absolute; left: 50%; top: 50%;
                                transform: translate(-50%,-50%);
                                text-align: center;
                                p {
                                    font-size: 10px; color: #494949;
                                    font-weight: bold; margin-bottom: 5px;
                                }
                                .icon {
                                    i {
                                        border: 1px solid #000;
                                        padding: 7px; border-radius: 50%;
                                        color: #fff; background-color: #000;
                                        font-size: 10px; transition: all 0.5s;
                                        &:hover {background-color: #fff; color: #000;}
                                    }
                                }
                            }
                        }
                        &:hover {
                            .wrap {opacity: 1;}
                        }
                    }
                }
            }
        }
        // 다섯번째 구역
        .counting {
            background-color: #fafafa; height: 340px;
            display: flex; justify-content: center;
            align-items: center;
            .countWrap {
                display: flex; justify-content: center;
                .countBox {
                    text-align: center; margin: 0 80px;
                    .countIcon {
                        margin-bottom: 25px;
                        span {font-size: 40px; color: #797979;}
                    }
                    .countNumber {font-size: 25px; color: #040c2c; margin-bottom: 24px;}
                    .text {font-size: 17px; color: #797979;}
                }
            }
        }
        // 여섯번째 구역
        .slider {
            width: 100%; height: 540px;
            background-image: url(../img/bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            display: flex; justify-content: center;
            align-items: center;
            position: relative;
            .center {
                width: 29%; overflow: hidden;
                .view {
                    width: 300%; display: flex;
                    transition: all 0.5s;
                    .sliderBox {
                        text-align: center; color: #fff;
                        img {
                            display: block; margin: 0 auto;
                            width: 80px; height: 80px;
                            border-radius: 50%;
                            border: 1px solid #fff;
                            margin-bottom: 25px;
                        }
                        .name {
                            font-size: 15px; margin-bottom: 17px;
                            font-weight: bold;
                        }
                        .text1 {
                            font-size: 10px; color: #afb0b0;
                            margin-bottom: 34px;
                        }
                        .text2 {
                            font-size: 15px; line-height: 30px;
                            margin-bottom: 55px;
                        }
                    }
                }
            }
            .sliderBtn {
                display: flex; justify-content: center;
                align-items: center;
                position: absolute; left: 50%; bottom: 30px;
                transform: translateX(-50%);
                li {
                    width: 10px; height: 10px;
                    border-radius: 50%; margin: 0 5px;
                    background-color: #9c9d9f;
                    cursor: pointer;
                }
                li.on {
                    width: 12px; height: 12px;
                    background-color: #fff;
                }
            }
        }
        // 일곱번째 구역
        .trust {
            padding-bottom: 120px;
            .textBox {
                text-align: center; margin-top: 120px;
                .title {font-size: 25px; color: #040c2c; margin-bottom: 26px;}
                .text {font-size: 17px; color: #6e6e6e}
                .bar {
                    width: 80px; height: 2px; background-color: #bcbcbc;
                    margin: 27px auto 70px;
                }
            }
            .imgWrap {
                display: flex; justify-content: center;
                img {width: 7%; margin: 0 30px;}
            }    
        }
        // 여덟번째 구역
        .blog {
            display: flex; justify-content: center;
            background-color: #fafafa;
            padding-bottom: 120px;
            .center {
                width: 58%; //1110px
                .textBox {
                    text-align: center; margin-top: 120px;
                    .title {font-size: 25px; color: #040c2c; margin-bottom: 26px;}
                    .text {font-size: 17px; color: #6e6e6e}
                    .bar {
                        width: 80px; height: 2px; background-color: #bcbcbc;
                        margin: 27px auto 70px;
                    }
                }
                .blogWrap {
                    display: flex; justify-content: space-between;
                    .blogBox {
                        width: 31.333%;
                        border: 1px solid #ebebeb;
                        border-radius: 5px 5px 0 0; overflow: hidden;
                        transition: all 0.5s;
                        .blogImg {
                            position: relative;
                            img {width: 100%;}
                            .dateBox {
                                position: absolute; right: 15px; top: 15px;
                                background-color: #fff; width: 55px;
                                height: 60px; text-align: center;
                                padding-top: 10px; box-sizing: border-box;
                                border-radius: 5px; font-size: 14px; line-height: 21px;
                                font-weight: bold; color: #494949;
                                transition: all 0.5s;
                            }
                        }
                        &:hover {
                            box-shadow: 2px 5px 5px rgba(0,0,0,0.2);
                            .blogImg {
                                .dateBox {
                                    background-color: #040c2c;
                                    color: #fff;
                                }
                            }
                        }
                        .botText {
                            padding: 30px 25px 35px;
                            .iconName {
                                span {
                                    color: #797979; font-size: 13px; font-weight: bold;
                                    margin-bottom: 24px;
                                    &:nth-child(1) {
                                        position: relative; top: 2px;
                                    }
                                }
                                .author {
                                    font-size: 13px; color: #494949;
                                }
                            }
                            .title {
                                font-size: 16px; font-weight: bold;
                                color: #494949; margin-bottom: 32px;
                            }
                            .blogText {
                                font-size: 12px; line-height: 33px;
                                color: #797979; margin-bottom: 35px;
                            }
                            .more {
                                color: #797979; font-weight: bold;
                                transition: all 0.5s;
                                &:hover {color: #040c2c;}
                            }
                        }
                    }
                }
            }
        }
        // 아홉번째 영역
        #map {width: 100%; height: 500px; background-color: #797979;}
        // 열번째 영역
        .contact {
            display: flex; justify-content: center;
            height: 685px; align-items: center;
            .center {
                width: 58%;
                display: flex; justify-content: space-between;
                > div {
                    h2 {
                        font-size: 25px; color: #040c2c;
                        margin-bottom: 48px;
                    }
                }
                .info {
                    width: 43%;
                    p {
                        position: relative; padding-left: 25px;
                        font-size: 12px; line-height: 29px;
                        color: #797979;
                        span {
                            position: absolute; left: -1px; top: 4px;
                            font-size: 21px;
                        }
                    }
                }
                .form {
                    width: 57%;
                    form {
                        input,textarea {
                            width: 300px; height: 40px; margin-bottom: 30px;
                            margin: 0 10px 30px 0;
                            border: 1px solid #ededed; padding-left: 20px;
                            box-sizing: border-box;
                        }
                        textarea {
                            padding-top: 20px; width: 617px; height: 140px;
                        }
                        button {
                            width: 197px; line-height: 52px; border: none;
                            background-color: #494949; color: #fff;
                            font-size: 16px;
                            position: relative;
                            &::before{
                                content: "Send Message"; display: block;
                                width: 0; height: 52px; background-color: #040c2c;
                                position: absolute; left: 50%; top: 0;
                                transform: translateX(-50%); opacity: 0;
                                transition: all 0.5s;
                            }
                            &:hover {
                                &::before {width: 200px; opacity: 1;}
                            }
                        }
                    }
                }
            }
        }
    }
    // 하단영역
    #footer {
        display: flex; justify-content: center;
        height: 310px; background-color: #040c2c;
        align-items: center;
        .center {
            img {display: block; margin: 0 auto; margin-bottom: 30px;}
        }
        .f-menu {
            display: flex; justify-content: center;
            margin-bottom: 20px; 
            li {
                margin: 0 6px; border: 1px solid #fff;
                width: 35px; line-height: 35px; border-radius: 50%;
                a {color: #fff; margin-left: 32%;}
            }
        }
        .f-text {
            text-align: center;
            .made {
                font-size: 11px; margin-bottom: 17px;
                font-style: italic; color: #999487;
                span {color: #fff;}
            }
            .copy {color: #fff; font-size: 13px;}
        }
    }
}

//1200px 이하 반응형
@media screen and (max-width: 1200px){
    #wrap {
        #header {
            .center {width: 78%;}
        }
        #container {
            //세번째 영역
            .doing {
                .center {width: 78%;}
            }
            //네번째 영역
            .portfolio {
                .center {width: 78%;}
            }
            //여섯번째 영역
            .slider {
                .center {width: 58%;}
            }
            //여덟번째 영역
            .blog {
                .center {width: 78%;}
            }
            //열번째 영역
            .contact {
                .center {
                    width: 78%;
                    .form {
                        form {
                            display: flex;
                            flex-wrap: wrap;
                            input {width: 48%;}
                            textarea {width: 98%;}
                        }
                    }
                }
            }
        }
    }
}

//990px 이하 반응형
@media screen and (max-width: 990px){
    #wrap {
        //상단영역
        #header {
            .center {
                position: relative;
                .gnb {display: none;}
                .login {margin-right: 50px;}
                .mobileBtn {
                    position: absolute;
                    right: 0;
                    width: 30px; height: 20px;
                    display: flex; flex-wrap: wrap;
                    justify-content: space-between;
                    align-items:center;
                    cursor: pointer;
                    .bar {
                        width: 100%; height: 2px;
                        background-color: #fff;
                        transition: all 0.5s;
                    }
                }
                .mobileBtn.close {
                    .bar {
                        &:nth-child(2) {opacity: 0;}
                        &:nth-child(1) {
                            transform: rotate(45deg);
                            position: relative; top: 7px;
                        }
                        &:nth-child(3) {
                            transform: rotate(-45deg);
                            position: relative; top: -7px;
                        }
                    }
                }
            }
            // js로 mobileBtn.close가 되었을때 모바일보드에도 클래스 붙여주기
            .mobileBoard.show {
                height: 347px;
                .center {display: block;}
            }
        }
        //중간영역
        #container {
            .doing {
                .center {
                    width: 70%;
                    .boxWrap {
                        a {width: 48%;}
                    }
                }

            }
            //일곱번째 영역
            .trust {
                width: 90%; margin: 0 auto;
                overflow: hidden;
                .imgWrap {
                    width: 200%; justify-content: flex-start;
                    img {width: 9%; margin: 0 2%;}
                }
                
            }
        }
    }
}

//768px 이하 반응형
@media screen and (max-width: 768px){
    #wrap {
        //상단영역
        #header {
            // width: 80%;
            .center {
                width: 100%;
                padding: 0 15px;
                .mobileBtn {
                    right: 15px;
                }
            }
            //모바일 보드
            .mobileBoard.show {
                justify-content: flex-start;
                padding-left: 2%;
                height: 230px;
                overflow-y: scroll;
            }
        }
        //중간영역
        #container {
            //두번째 영역
            .about_me {
                display: block;
                > div {width: 100%;}
                .leftBox {margin: 90px 0 50px 15px;}
                // .rightBox {
                //     background-color: red;
                //     .about_img {width: 100%;}
                // }
            }
            //세번째 영역
            .doing {
                .center {
                    width: 100%;
                    .boxWrap {
                        justify-content: space-around;
                        .box {
                            width: 47%;
                        }
                    }
                }
            }
            //네번째 영역
            .portfolio {
                .center {
                    width: 100%;
                    .isoWrap {
                        .small,.big {width: 47%;}
                        .portBox {
                            .wrap {
                                .box {
                                    p {
                                        font-size: 20px; margin-bottom: 5px;
                                        line-height: 35px;
                                    }
                                    .icon {
                                        i {font-size: 17px; margin: 0 1px;}
                                    }
                                }
                            }
                        }
                    }
                }
            }
            //다섯번째 영역
            .counting {
                height: 545px;
                .countWrap {
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .countBox {
                        width: 38%;
                        margin: 5% 0;
                    }
                }
            }
            //여섯번째 영역
            .slider {
                height: 570px;
                .center {
                    width: 68%;
                }
                .sliderBtn {
                    bottom: 100px;
                }
            }
            //일곱번째 영역
            .trust {
                width: 100%;
                .imgWrap {
                    img {width: 12%; margin: 0 2%;}
                }
            }
            //여덟번째 영역
            .blog {
                .center {
                    width: 100%;
                    .blogWrap {
                        flex-wrap: wrap; justify-content: center;
                        .blogBox {width: 96%; margin-bottom: 50px;}
                    }
                }
            }
            //열번째 영역
            .contact {
                padding-bottom: 200px;
                .center {
                    width: 100%; flex-wrap: wrap;
                    justify-content: center;
                    .info {width: 96%; margin-top: 250px; margin-bottom: 65px;}
                    .form {
                        width: 96%;
                    }
                }
            }
        }
    }
}

//580px 이하 반응형
@media screen and (max-width: 580px){
    #wrap {
        #container {
            //일곱번째 영역
            .trust {
                .imgWrap {
                    img {width: 13%; margin: 0 2%;}
                }
            }
            //열번째 영역
            .contact {
                padding-bottom: 300px;
                .center {
                    .form {
                        #user_form {
                            input {width: 100%;}
                        }
                    }
                }
            }
        }
    }
    
}